body{
    margin: 0%;
}
.one{
    background: url("../img/bg.jpg") center / cover;
    width: 100%;
    height: 50vh;
}
.two{
    background: url("../img/bg2.jpg") center / cover;
    width: 100%;
    height: 50vh;
}
.three{
    background: url("../img/bg3.jpg") center / cover;
    width: 100%;
    height: 50vh;
}
.carousel-item{
    padding-top: 50px;
}
.img-group img{
    width: 100px;
    transition: 0.5s;
}
.img-group img:hover{
    transform: scale(2);
    transition: 0.5s;
}
.pagination .bg-danger{
    color: #fff;
}



footer{
    background-color: rgb(44, 44, 44);
    color: #fff;
    height: auto;
}
.Nav ul{
    list-style: none;
}
.Nav ul li a{
    color:  rgb(180, 180, 180);
    text-decoration: none;
    line-height: 40px;
}
.Nav ul li a:hover{
    color: #fff;
}
.work_foot{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.blog{
    width: 300px;
}
.blog p{
    color: rgb(209, 209, 209);
}
.cont p{
    margin: 0%;
    font-size: 15px;
    font-weight: 500;
}
.Nav_inner{
    padding-left: 140px;
}
.cont_inner{
    padding-left: 30px;
}
.logo_end{
    text-align: center;
    background-color: black;
    height: auto;
    color: #fff;
    padding-bottom: 5px;
}
.logo_end img{
    margin: 20px 0px;
}

@media screen and (max-width: 992px){

    .Nav_inner{
        padding: 0px;
    }
    .cont_inner{
        padding: 0px;
    }
    .work_foot{
        justify-content: space-around;
    }
    .work_foot h1{
        font-size: 30px;
    }

}

@media screen and (max-width: 831px){

    .carousel-item h1{
        font-size: 30px;
    }
    .carousel-item p{
        font-size: 14px;
    }

}

@media screen and (max-width: 493px){

    .carousel-item h1{
        font-size: 25px;
    }
    .carousel-item p{
        font-size: 12px;
    }

}

@media screen and (max-width: 403px){

    .card-title{
        font-size: 30px;
    }
    .names{
        font-size: 30px;
        padding-top: 50px;
    }

}

@media screen and (max-width: 358px){

    .carousel-item{
        padding-top: 20px;
    }

}

@media screen and (max-width: 338px){

    .carousel-item h1{
        font-size: 20px;
    }

}